.img {
    height: 80px;
    width: 80px;
    margin-top: 25px;
    margin-left: 30px;
    border: 1fr solid floralwhite;
    border-radius: 50%;
}

.sliderPart {
    background: rgb(160, 222, 224);
}

.text {
    padding-left: 20px;
}

.Contents {
    padding-left: 20px;

    color: rgb(16, 43, 83);
}

.texts {
    padding-left: 20px;
    padding-bottom: 20px;
}


.texts span {
    color: rgb(192, 192, 15);
    font-size: 20px;

}